:root {
    --main_color:#FFF2D7;
    --main_title_color:#5D853E;
    --sub_title_color:#CE7B01;
    --white_color:#fff;
    --black_color: #000;
    --gray_color: rgb(219, 226, 227);
    --button_color: #5D853E;
  }
  
  .container {
    background-color: var(--white_color);
    border: 2px solid var(--main_title_color);
    width: 50%;
    height: 500px;
    margin: 150px auto;
    border-radius: 20px;
    padding: 10px;
  }
  .container .form-container {
    font-size: 17px;
  }
  .container .form-container .form .form-title {
    color: var(--main_title_color);
    font-size: 30px;
  }
  .container .form-container .form #loginEmail,
  .container .form-container .form #loginPassword {
    font-size: 15px;
    border: solid 0.1px var(--button_color);
    background-color: var(--white_color);
    height: -moz-max-content;
    height: max-content;
  }
  .container .form-container .form .button-form {
    background-color: var(--button_color);
    width: 30%;
    height: 35px;
    border: none;
    color: var(--white_color);
    border-radius: 5px;
  }
  .container .form-container .form .form-control a {
    color: var(--sub_title_color);
    text-decoration: none;
  }